#settings{
  margin-top:var(--header-height);

  &>*{margin:auto}
}
h2{
  margin:21pt auto 9pt !important;
  font-size:25pt;
}



button:has(.signout),
button:has(.signin){
  display:flex; flex-direction:row;
  align-items:center;
  gap:3pt;
  padding:9pt 16pt;
  border-radius:99pt;
  background-color:var(--thisoe);
  color:#fff;
  font-size:16pt;
  font-family:var(--sans) !important;
  cursor:pointer;
  transition:background-color .2s ease;

  & .svg{width:16pt;height:16pt;}
}
button:has(.signin):hover
  {outline:var(--thisoe-faint) solid 3px}
button:has(.signout):hover
  {background-color:tomato}



#lang-menu{
  gap:9pt;
  &button{
    background-color:var(--thisoe);
    border:none;
    border-radius:4pt;
    padding:4pt;
  }&button:hover{
    filter:brightness(1.2);
    outline:aquamarine solid 1px;
  }
}
