#settings{
}

h1{
  font-size:39pt;
}

h2{
  font-size:18pt;
}
#lang-menu{
  gap:9pt;
  &button{
    background-color:var(--thisoe);
    border:none;
    border-radius:4pt;
    padding:4pt;
  }&button:hover{
    filter:brightness(1.2);
    outline:aquamarine solid 1px;
  }
}

