:root{
  /* colors */
  --thisoe:#178577;
  --thisoe-faint:#DAE8E5;
  --thisoe-faint-bg:#17857730;
  --thisoe-dark:#012117;
  --moom:#c29371;
  --moom-light:#dcc4b2;
  --moom-lighter:#fee9d7;
  --moom-unofficial:#B99C90;
  /* Default values that will be overridden */
  --sans: var(--font-noto-sans);
  --serif: var(--font-noto-serif);
  /* lengths */
  --header-height:57pt;
}

/* fonts */
html[lang="en"]{
  --sans: var(--sans-latin);
  --serif: var(--serif-latin);
}
html[lang="ja"]{
  --sans: var(--sans-ja);
  --serif: var(--serif-ja);
}
html[lang="ko"]{
  --sans: var(--sans-ko);
  --serif: var(--serif-ko);
}
html[lang="zh-Hans"]{
  --sans: var(--sans-hans);
  --serif: var(--serif-hans);
}
html[lang="zh-Hant"]{
  --sans: var(--sans-hant);
  --serif: var(--serif-hant);
}
/* fictional langs */
.lang-ina{
  --sans: var(--visitor-script);
  --serif: var(--visitor-script);
}
html *{font-family:var(--serif)}

/* resets */
*{
  margin:0;padding:0;
  background:transparent;
  font-size:12pt;line-height:1;
  font-weight:normal;text-decoration:none;
  touch-action:none; /* dndkit requirement */
}

html,body{
  all:unset;
  overscroll-behavior:contain;
  background-color:var(--moom-lighter);
}

i,button,a,p{all:unset}
i,ol{display:flex;flex-direction:column}
li{list-style-type:none}
img{
  user-select:none;-webkit-user-drag:none;
  border-radius:999pt;
}

/* selection and scrollbar */
*::selection{
  background:var(--thisoe);
  color:#cef;
  text-shadow:1px 1px #335;
}
::-webkit-scrollbar{width:8pt}
::-webkit-scrollbar-track{background-color:#e0efea}
::-webkit-scrollbar-thumb{
  background-color:var(--thisoe);
  border-radius:9pt;
  transition:background-color .2s ease;
  &:hover{background-color:#399}
}

hr{
  all:unset;
  height:1px;
  background-color:#aaa;
}



/* twemoji */
.twemoji {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 1pt;
  /* vertical-align: -0.3em; */
  border-radius:0;
}



/* DARK */
.dark{
  background-color:var(--thisoe-dark);

  & *{color:#fff}
  & header{background-color:#011}
}



#loading{
  width:100vw;height:100vh;
  width:100dvw;height:100dvh;
  gap:9pt;
  align-items:center;
  justify-content:center;
  background:var(--moom-lighter);
  position:absolute;
  left:0;top:0;

  .dark &{background:var(--thisoe-dark)}

  &>*{transform:translateY(-9vh)}

  &>h1{
    font-size:72px;
    font-weight:bold;
  }
  &>h2{
    font-size:30px;
  }

  &>p{
    font-size:18px;
    text-align:center;
    &>a{
      cursor: pointer;
      &:hover{
        color:var(--thisoe);
        text-decoration:underline;
      }
      .dark &:hover{color:aqua}
    }
  }

  &>a{
    color:var(--thisoe);
    font-size:16pt;
    text-align:center;
    cursor:pointer;

    &:hover{text-decoration:underline}
    .dark &{color:aqua}
  }
}



.backdrop{
  z-index:99;
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background-color:#aaa5;
  backdrop-filter:blur(1px);

  .dark &{background-color:#0007;}
}



header{
  position:fixed; top:0;left:0;
  height:var(--header-height); /* 57pt */
  width:100vw;
  display:flex;flex-direction:row;
  align-items:center;
  background-color:var(--moom-light);

  &>*{margin:auto}
  &>h1{
    margin-left:30pt;
    font-size:27pt;
    line-height:30pt;
    font-weight:500;
  }
  &>#btn-wrap{
    flex-direction:row;
    gap:7pt;
    margin-right:30pt;
    &>button{
      width:30pt;height:30pt;
      cursor:pointer;
      transition:scale .12s ease;
      &:hover{scale:1.1}
      &:active{scale:.93}
    }
  }
}

#lang-dialog{
  position:fixed;
  top:81px; right:9pt;
  gap:7px;
  margin:0;
  background-color:var(--thisoe);
  color:#fff;
  border-radius:16pt;
  padding:18pt 16pt 25pt 27pt;

  .dark main &{background-color:#333}
  &>button{
    flex: 1 1 0;
    margin:0;
    padding:3pt;
    font-size:16pt;
    text-align:right;
    white-space: nowrap;
    transition:scale .1s ease;
    &:hover{scale:1.05}
  }
}