:root{
  /* colors */
  --thisoe:#178577;
  --thisoe-faint:#DAE8E5;
  --thisoe-faint-bg:#17857730;
  /* Default values that will be overridden */
  --sans: var(--font-noto-sans);
  --serif: var(--font-noto-serif);
}

/* fonts */
html[lang="en"]{
  --sans: var(--sans-latin);
  --serif: var(--serif-latin);
}
html[lang="ja"]{
  --sans: var(--sans-ja);
  --serif: var(--serif-ja);
}
html[lang="ko"]{
  --sans: var(--sans-ko);
  --serif: var(--serif-ko);
}
html[lang="zh-Hans"]{
  --sans: var(--sans-hans);
  --serif: var(--serif-hans);
}
html[lang="zh-Hant"]{
  --sans: var(--sans-hant);
  --serif: var(--serif-hant);
}
/* fictional langs */
.lang-ina{
  --sans: var(--visitor-script);
  --serif: var(--visitor-script);
}
html *{font-family:var(--serif)}

/* resets */
*{
  margin:0;padding:0;
  background:transparent;
  font-size:12pt;line-height:1;
  font-weight:normal;text-decoration:none;
  touch-action:none; /* dndkit requirement */
}

html,body{
  all:unset;
  overscroll-behavior:contain;
  transition:background-color .2s ease;
}

i,button,a,p{all:unset}
i,ol{display:flex;flex-direction:column}
li{list-style-type:none}
img{
  user-select:none;-webkit-user-drag:none;
  border-radius:999pt;
}

/* selection and scrollbar */
*::selection{
  background:var(--thisoe);
  color:#cef;
  text-shadow:1px 1px #335;
}
::-webkit-scrollbar{width:8pt}
::-webkit-scrollbar-track{background-color:#e0efea}
::-webkit-scrollbar-thumb{
  background-color:var(--thisoe);
  border-radius:9pt;
  transition:background-color .2s ease;
}
::-webkit-scrollbar-thumb:hover{background-color:#399}

hr{
  all:unset;
  height:1px;
  background-color:#fff;
}

/* Twemoji */
.twemoji {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 1pt;
  /* vertical-align: -0.3em; */
  border-radius:0;
}



/* loading */
#loading{
  width:100vw;height:100vh;
  width:100dvw;height:100dvh;
  gap:9pt;
  align-items:center;
  justify-content:center;
  background: #178577;
  position:absolute;
  left:0;top:0;
}
#loading>*{transform:translateY(-9vh)}
#loading>h1{
  font-size:72px;
  font-weight:bold;
}#loading>h2{font-size:30px}
#loading>p{font-size:18px;text-align:center}



/* dialog */
.backdrop{
  z-index:99;
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background-color:#0009;
}



/* header */
header{
  position:fixed; top:0;left:0;
  height:57pt;
  display:flex;flex-direction:row;
  align-items:center;
  width:100vw;
  &>*{margin:auto}
  &>h1{
    margin-left:30pt;
    font-size:27pt;
    font-weight:500;
  }
  &>#btn-wrap{
    flex-direction:row;
    gap:7pt;
    margin-right:30pt;
    &>button{
      width:30pt;height:30pt;
      cursor:pointer;
      transition:scale .12s ease;
    }&>button:hover{scale:1.1}
    &>button:active{scale:.93}
  }
}
#lang-dialog{
  position:fixed;
  top:77px; right:0;
  margin:0;
  background-color:#ccc;
  border-radius:9pt;
  padding:18pt;
  &>button{
    margin:0;
    flex: 1 1 0;
    white-space: nowrap;
  }&>button:hover{
    background-color:#ddd;
  }
}


/* TODO DELETE */
/* TEST STYLING */
.dark *{color:#fff}
.dark{background-color:#160e3e;}
/* ol{background-color:#ccc;}
#anew{background-color:green;padding:7pt;}
li{background-color:aqua;padding:7pt;gap:9pt;align-items:center;}
#anew{background-color:green;padding:7pt;} */
header{border-bottom:#178577 solid 1px;.dark &{border-color:#054}}
