:root{
  /* colors */
  --thisoe:#178577;
  --thisoe-faint:#DAE8E5;
  --thisoe-faint-bg:#17857730;
}

/* resets */
html,body{margin:0;padding:0;height:100vh;height:100dvh;}

i,button,a,p{all:unset}
i,ol,li{display:flex}
li{list-style-type:none}
img{user-select:none;-webkit-user-drag:none}

/* selection and scrollbar */
*::selection{
  background:var(--thisoe);
  color:#cef;
  text-shadow:1px 1px #335;
}
::-webkit-scrollbar{width:8pt}
::-webkit-scrollbar-track{background-color:#e0efea}
::-webkit-scrollbar-thumb{
  background-color:var(--thisoe);
  border-radius:9pt;
  transition:background-color .2s ease;
}
::-webkit-scrollbar-thumb:hover{background-color:#399}


/* loading */
#loading{
  width:100vw;height:99vh;
  width:100dvw;height:99dvh;
  display:flex;
  background:#fff;
  position:absolute;
  left:0;top:0;
}#loading p{
  margin:auto;
  font-size:16pt;
  font-weight:bold;
}



/*******  *******/


li{}

