:root{
  --skeleton-bg: #5555;
  --skeleton-highlight: #9995;
  --skeleton-animation: skeleton-loading 3s ease-in-out infinite;
  --skeleton-gradient:linear-gradient(
    90deg,
    var(--skeleton-bg) 25%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-bg) 75%
  );
  --skeleton-size: 200% 100%;
}
@keyframes skeleton-loading {
  0% {background-position: 200% 0;}
  100% {background-position: -200% 0;}
}



.skeleton{
  main:has(&){cursor:progress}

  /* SKELETON ANIMATION */
  & *:not(
    #lang-menu,
    /* rankpage */
    ol,
    #btn-wrap,
    /* settings */
    header,hr,
    #settings h1,
    #settings h2,
    #settings >i,
    #user-edit,
    #avatar-btn,
    #socials-wrap
  ){
    display:block;
    border-radius:9pt;
    background:var(--skeleton-gradient);
    background-size:var(--skeleton-size);
    animation:var(--skeleton-animation);
  }



  /* RANKPAGE */
  .rankpage>&>h1::after{
    content:'　　　　　　　';
  }
  &>#btn-wrap{
    display:flex;
    gap:10pt;
    height:30pt;
    &>button{cursor:progress}
    &>button:active{scale:1.1}
  }

  &>ol{
    display:flex;
    gap:10pt;
    &>li{
      pointer-events:none;
      height:58pt;
      outline:0;
    }
  }



  /* SETTINGS */
  &#settings{
    & #avatar-btn>div{border-radius:999pt}

    & #username{
      margin-top:12pt;
      &:hover{outline:0}
      &::after{content:'　　　　　　　'}
    }
    & #handle-wrap{
      margin-top:9pt;
      line-height:1.2;
      &::after{content:'　　　　　　　'}
    }
    & #socials-wrap>.wrap{
      &::after{content:'　　　　　　　　　　　　　　'}
    }
    & button:has(.signout){
      &::after{content:'　　　　　'}
    }

    & #savechanges-btn,
    & #lang-menu button{
      margin-top:9pt;
      &::after{content:'　　　　　　　'}
    }
  }
}



.img-skeleton{
  background:var(--skeleton-gradient);
  background-size:var(--skeleton-size);
  animation:var(--skeleton-animation);

  &.avatar-loading{border-radius:999pt}
}