
/******* Arankpage *******/
main{
  &>header{
    position:fixed; top:0;left:0;
    height:72pt;
    display:flex;flex-direction:row;
    width:100vw;
    &>h1{
      font-size:27pt;
      font-weight:500;
    }
  }
  &>i{
    margin:72pt auto;
    width:min(720pt,90vw);
  }
}


/******* Alist *******/
ol{
  display:flex;
  flex-direction: column;
  gap:7pt;
  padding:9pt 30pt;
}

li{
  display:flex;
  border-radius:9pt;
  outline:#aaa solid 1px;
  cursor:grab;
}
li:active{cursor:grabbing;}



/******* Acard *******/



/******* Anew *******/



/******* Amod *******/
dialog{
  
}
dialog::backdrop{
  background-color:#3333;
}